@charset "UTF-8";
button {
  outline: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1px;
}

/*-------------头部尾部-----------------------------*/
.header {
  width: 100%;
  height: 5rem;
}
.header .header-content {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.78125rem;
  box-sizing: border-box;
  background-color: #fff;
}
.header .header-content .header-group {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.header .search {
  margin-left: 1.5625rem;
}
.header .search form {
  position: relative;
  color: #757575;
  display: flex;
}
.header .search form .txt {
  width: 18.75rem;
  height: 2.625rem;
  padding: 0 3.75rem 0 1.5625rem;
  border: .0625rem solid #757575;
  border-radius: 3.75rem;
  box-sizing: border-box;
  z-index: 2;
  font-size: .9375rem;
  background-color: #fff;
  color: #000;
  outline: none;
}
.header .search form .btn1 {
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  /*z-index: 2;*/
  height: 100%;
  width: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 3.75rem 3.75rem 0;
  transition: background-color .15s ease-in;
  border: .0625rem solid #757575;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-left: none;
}
.header .search form .btn1 .fdj {
  position: absolute;
  z-index: 2;
}

.header-center span {
  margin-right: 15.625rem;
  font-size: 2.875rem;
}

.header-right span {
  font-size: 1.5rem;
  margin: 0 .5rem;
}

.header-nav {
  width: 100%;
  background-color: #fff;
}
.header-nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  padding: 0 1.25rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  border-bottom: .0625rem solid #e5e5e5;
}
.header-nav .menu li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: .25rem;
  margin-left: .375rem;
  height: 100%;
  padding: .625rem;
  /*width: 5.125rem;*/
}
.header-nav .menu li a {
  display: block;
  color: #000;
  font-size: .8125rem;
}
.header-nav .menu li:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  content: "";
  border-bottom: .125rem solid #000;
  transform: scaleX(0);
  opacity: 0;
  transition: all .2s ease-out;
  transition-property: transform, opacity;
}
.header-nav .menu li:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
.header-nav .menu li a:hover {
  font-weight: 800;
}
