html{height:100%}  
body{height:100%;margin:0px;padding:0px}  
.wrap{
	width: 30%;
	float: left;
}
.box{
	width: 70%;
	height: 100%;
	float: right;
}
#container{
	height:100%;
	width:100%;
}
.headerLight{
	height: 60px;
    width: 460px;
    background-color: #fff;
    color: #000;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 31;
    margin-bottom: 6px;
}
.close{
    display: inline-block;
    position: fixed;
    height: 40px;
    width: 40px;
    line-height: 40px;
    top: 35px;
    right: 35px;
    border: 1px solid #cecece;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
     z-index: 31;
} 
.headerLight a{
	display: block;
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
	
} 
.headerLight-header{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.headerLight-header{
	color: #fff;
	
}
.searchBlock{
	height: 40px;
}
.m-search{
	width: 360px;
	height: 40px;
	border: none;
	outline: none;
	margin-left: 22px;
	position: relative;
	float: left;
}
.m-search input{
	width: 360px;
	height: 40px;
	padding-left:10px;
	box-sizing: border-box;
}
.search{
	position: absolute;
	top: 12px;
	right: 10px;
}
.dinwei{
	float: right;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
}
.map-title{
	width: 420px;
	margin-left: 22px;
	height: 67px;
	line-height: 67px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.map-title button{
	background: #fff;
	border: none;
}
.shouqi{
	font-size: 16px;
}
.m-main{
	max-height: 600px;
	width: 420px;
	margin: 0 auto;
}
.mapList{
    border-bottom: 1px solid #cecece;
    padding: 20px;
    margin-bottom: 20px;
}
.mapList li{
    color: #000;
    margin: 10px 0;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 20px;
}
.mapList li button{
	background: #fff;
	border: 1px solid #ccc;
	margin-right: 16px;
	width: 20px;
	height: 20px;
}
.m-footer{
	width: 420px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.m-footer button{
	background: #fff;
	border: 1px solid #ccc;
	width: 120px;
	height: 30px;
	box-sizing: border-box;
	padding: 0 8px;
	font-size: 10px;
	text-align: center;
	margin-top: 60px;
}