html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dt,
dd,
li,
p,
i,
em,
b,
strong,
span,
a,
img,
input,
form,
fieldset,
legend,
textarea,
select,
table,
tr,
td,
div {
  margin: 0;
  padding: 0;
}


fieldset,
img {
  border: none;
}

img {
  vertical-align: top;
}



body {
  font: 12px "SimSun", "微软雅黑", "Arial Narrow", HELVETICA;
  background: #fff;
}



.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: move;
}

ul li,
ol li {
  list-style: none;
  cursor: pointer;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}


input {
  outline: none;
}