/* <!-- 持妆 锁水 爱上两全其美 --> */
.z_contont1{
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
.z_contont1 img{
    width: 100%;
}
.z_contont1 h1{
    text-align: center;
    line-height: 94px;
    font-weight: 400;
    font-family: Century Gothic Std,Arial,sans-serif;
}
.z_contont1 .zz_h1{
    line-height: 130px;
}
.z_contont1 h3{
    text-align: center;
    font-weight: 100;
    line-height: 26px;
    font-family: Century Gothic Std,Arial,sans-serif;  
}
/* <!-- 迪奥锁妆粉底液(1) 哑光妆效 --> */

.z_contont2{
    width: 95%;    
    overflow: hidden;
    margin: 0 auto; 
}
.z_contont2 h1{
    margin:30px auto;
    line-height: 30px; 
    font-weight: 400;
    font-family: Century Gothic Std,Arial,sans-serif; 
    text-align: center;
} 
.z_contont2 .slick_list{
    width: 78%;
    overflow: visible;
}
/* <!-- 迪奥锁妆粉底液(1) 哑光妆效 图片 --> */

.z_contont2 ul{
    width: 200%;
}
.z_contont2 ul li{
    margin: 0 1%;
    width: 23%;
    float: left;
}
.z_contont2 ul li img{
    width: 100%;
}
.z_contont2 .z_turn1{
    width: 400px;
    height: 40px;
    margin: 0 auto;
    background: yellowgreen;
}
.z_contont2 > p{
    text-align: center;
    font-family: Century Gothic Std,Arial,sans-serif; 
    font-size: 16px;
    line-height: 28px;
}
.z_contont2 > span a{
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 162px;
    height: 48px;
    background: #000;
    border: 1px solid #000;
    margin: 40px auto ;
    font-size: 18px;
    font-family: Century Gothic Std,Arial,sans-serif;
    border-radius: 24px;
    line-height: 48px;
}
.z_contont2 > span a:hover{
    font-weight: bold;
}
/* <!-- 迪奥锁妆粉底液(1) 亮泽妆效 --> */
.z_contont3{
    width: 95%;    
    overflow: hidden;
    margin: 0 auto; 
}
.z_contont3 h1{
    margin:30px auto;
    line-height: 30px; 
    font-weight: 400;
    font-family: Century Gothic Std,Arial,sans-serif; 
    text-align: center;
} 
.z_contont3 .slick_list{
    width: 78%;
    overflow: visible;
}
/* <!-- 迪奥锁妆粉底液(1) 亮泽妆效 图片 --> */

.z_contont3 ul{
    width: 200%;
}
.z_contont3 ul li{
    margin: 0 1%;
    width: 23%;
    float: left;
}
.z_contont3 ul li img{
    width: 100%;
}
.z_contont3 .z_turn1{
    width: 400px;
    height: 40px;
    margin: 0 auto;
    background: yellowgreen;
}
.z_contont3 > p{
    text-align: center;
    font-family: Century Gothic Std,Arial,sans-serif; 
    font-size: 16px;
    line-height: 28px;
}
.z_contont3 > span a{
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 162px;
    height: 48px;
    background: #000;
    border: 1px solid #000;
    margin: 40px auto ;
    font-size: 18px;
    font-family: Century Gothic Std,Arial,sans-serif;
    border-radius: 24px;
    line-height: 48px;
}
.z_contont3 > span a:hover{
    font-weight: bold;
}
/* 锁水护肤----------- */
.z_contont4{
    width: 95%;
    margin: 30px auto;
    padding: 0;
}
/* -------哑光妆效OR亮泽妆效？---------- */
.z_contont5{
    width: 95%;
    margin: 30px auto;
    margin-top: 130px;
    padding: 0;
}
.z_contont5 h2{
    text-align: center;
    font-size: 26px;
    font-family: Century Gothic Std,Arial,sans-serif; 
    font-weight: 400;
}
.z_contont5 p{
    font-family: Century Gothic Std,Arial,sans-serif; 
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}
.z_contont5 .co_select{
    width: 100%;
    margin-top: 60px;
    position: relative;
    /* margin: 5px auto; */
    padding: 0;
    text-align: center;
    height: 80px;
}
.z_contont5 .co_select .co_select1{
    position: absolute;
    left: 300px;
    top: 0;
    margin: 0;
    padding: 20px 20px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 35px;
}