html {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: 'Century Gothic Std', Arial, sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrap{
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: space-between;
  background-color: white;
}

@import "header";
@import "nav";
@import "hot";
@import "products";
@import "service";