.lady-banner {
  width: 97%;
  text-align: center;
  margin: 0 auto;
  p:nth-child(2) {
    font-size: .9375rem;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
  }

  p:nth-child(1) {
    margin: 2.5rem auto 0;
    font-size: 3.25rem;
    font-family: DinCondensedBold, 'Century Gothic Std', Arial, sans-serif;
    line-height: 3.25rem;
  }

  img {
    width: 100%;
    cursor: pointer;
  }
}

.lady-products {
  margin: 0 auto;
  width: 97%;

  p {
    margin: .8125rem 0 2.125rem 0;
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      overflow: hidden;
      margin-right: 2rem;
      width: 22.8%;
      cursor: pointer;

      &:nth-child(4) {
        margin-right: 0;
      }

      img {
        width: 100%;
      }

      p {
        margin: .8125rem 0 2.625rem 0;
        font-size: 1.625rem;
        line-height: 2rem;
      }
    }

  }
}

.man-banner {
  width: 97%;
  text-align: center;
  margin: 0 auto;
  border-top: .0625rem solid #e5e5e5;

  p:nth-child(2) {
    font-size: .9375rem;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
  }

  p:nth-child(1) {
    margin: 2.5rem auto 0;
    font-size: 3.25rem;
    font-family: DinCondensedBold, 'Century Gothic Std', Arial, sans-serif;
    line-height: 3.25rem;
  }

  img {
    width: 100%;
    cursor: pointer;
  }
}

.man-products {
  margin: 0 auto;
  width: 97%;
  p{
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
  p:nth-child(1) {
    margin-top: .8125rem;
    font-size: 2rem;
    line-height: 2.375rem;
  }

  p:nth-child(3){
    margin-bottom: 2.125rem;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      overflow: hidden;
      margin-right: 2rem;
      width: 23%;
      cursor: pointer;
      &:nth-child(1){
        width: 49%;
      }
      &:nth-child(3) {
        margin-right: 0;
      }

      img {
        width: 100%;
      }

      p {
        margin: .8125rem 0 2.625rem 0;
        font-size: 1.625rem;
        line-height: 2rem;
      }
    }

  }
}
.baby-banner {
  width: 97%;
  text-align: center;
  margin: 0 auto;
  border-top: .0625rem solid #e5e5e5;

  p:nth-child(2) {
    font-size: .9375rem;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
  }

  p:nth-child(1) {
    margin: 2.5rem auto 0;
    font-size: 3.25rem;
    font-family: DinCondensedBold, 'Century Gothic Std', Arial, sans-serif;
    line-height: 3.25rem;
  }

  img {
    width: 100%;
    cursor: pointer;
  }
}

.baby-products {
  margin: 0 auto;
  width: 97%;

  p {
    margin: .8125rem 0 2.125rem 0;
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      overflow: hidden;
      margin-right: 2rem;
      width: 23%;
      cursor: pointer;
      &:nth-child(1){
        width: 49%;
      }
      &:nth-child(3) {
        margin-right: 0;
      }

      img {
        width: 100%;
      }

      p {
        margin: .8125rem 0 2.625rem 0;
        font-size: 1.625rem;
        line-height: 2rem;
      }
    }

  }
}