.map{
  overflow: hidden;
  width: 100%;
  height: 18.75rem;
  background: url('../images/home_map_bg.jpg') no-repeat center top;
  background-size: 100% 100%;
  text-align: center;
  p{
    margin-top: 5.875rem;
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

.service{
  img{
    width: 100%;
  }
}